@(title : String )(body: Html)
<html>
<head>
    <title>@title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">System konsulatu</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/sprawy/dodaj">Dodaj sprawę</a></li>
                    <li><a href="/sprawy">Wszystkie sprawy</a></li>
                    <li><a href="/sprawy/doUzupelnienia">Sprawy do uzupełnienia</a></li>
                    <li><a href="/sprawy/archiwalne">Sprawy archiwalne</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        @body
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>