@(sprawy : List[Sprawa])(title : String)(czyKierownik : Boolean)

@layout(title) {
    <h1>@title</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-1">ID</th>
                <th class="col-xs-5">Treść sprawy</th>
                <th class="col-xs-2">Data utworzenia</th>
                <th class="col-xs-4">Operacje</th>
            </tr>
        </thead>
        <tbody>
        @for(sprawa <- sprawy) {
            <tr>
                <td>@sprawa.id</td>
                <td>@sprawa.trescSprawy</td>
                <td>@sprawa.dataUtworzenia</td>
                <td>
                    @if(!title.equals("Sprawy archiwalne")) {
                        @if(czyKierownik) {
                            <button class="btn btn-primary" onclick="location.href='@routes.HomeController.wydajDecyzje(sprawa.id)'">Decyzja</button>
                        }
                        <button class="btn btn-secondary" onclick="location.href='@routes.HomeController.edytujSprawe(sprawa.id)'">Edytuj</button>
                    }
                    <button class="btn btn-success" onclick="location.href='@routes.HomeController.wyswietlSprawe(sprawa.id)'">Dane</button>
                    <button class="btn btn-danger" onclick="location.href='@routes.HomeController.usunSprawe(sprawa.id)'">Usuń</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

}